.home {
 
  min-height: 80vh;
  padding: 60px;
  background-image: url("/public/Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;


}

.home h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  width: 60%;
  margin-bottom: 30px;
}

.search-box input {
  flex: 1;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
}

.search-box button {
  padding: 14px 20px;
  border: none;
  background-color: #1dbf73;
  color: white;
  font-size: 16px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.services {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.service-btn {
  padding: 10px 18px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.service-btn:hover {
  background-color: #f5f5f5;
}
