.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  border-bottom: 1px solid #e4e5e7;
  background: white;
}

.logo {
  color: #1dbf73;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #404145;
  font-weight: 500;
}

.nav-links a:hover {
  color: #1dbf73;
}
